body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-wrapper {
    margin-top: 80px;
    text-align: center;
}

.count {
    color: rgb(0, 179, 182);
    font-weight: bold;
    font-size: 36px;
}

.all-btn {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.click-btn {
    background-color: rgb(1, 5, 254);
    color: rgb(255, 255, 255);
}

.clear-btn {
    background-color: rgb(254, 1, 1);
}

.ready-answer {
    color: rgb(13, 0, 255);
    font-size: 32px;
}